@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --side-gutter: 15%;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header,
.hero,
.content,
.quote-block,
.sign-up,
.footer {
  padding: 0 var(--side-gutter);
}

.header {
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #f9faf8;
  padding: 16px var(--side-gutter);
}

.header .left {
  font-size: 24px;
}

.header .right {
  font-size: 18px;
}

.header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 32px;
  color: #e5e7eb;
}

.header a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: space-between;
  gap: 64px;
  padding: 64px var(--side-gutter);
  align-items: center;
}

.hero h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
  margin: 0 0 16px 0;
  padding: 0;
}

.hero p {
  color: #e5e7eb;
  font-size: 18px;
  padding: 0;
  margin: 0 0 20px 0;
}

.hero img {
  width: 1400px;
  height: 400px;
  background-color: #e5e7eb;
  image-rendering: auto;
  object-fit: cover;
  object-position: 0 30%;
  border-radius: 20px;
}

button {
  background-color: #3882f6;
  font-size: 14px;
  color: #f9faf8;
  border-style: none;
  border-radius: 8px;
  margin: 0;
  padding: 8px 32px;
}

.content {
  background-color: white;
  padding-top: 64px;
  padding-bottom: 64px;
}

.content h2 {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1f2937;
  text-align: center;
  padding: 0 0 32px 0;
  margin: 0;
}

.bubbles {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  gap: 64px;
  flex-wrap: wrap;
  padding-bottom: 32px;
}

.bubble-container {
  width: 200px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bubble-media {
  height: 200px;
  width: 200px;
  background-color: #f9faf8;
  border-color: #3882f6;
  border-style: solid;
  border-width: 5px;
  border-radius: 16px;
}

.quote-block {
  background-color: #e5e7eb;
  padding: 128px calc(var(--side-gutter) * 1.25);
}

.quote-block .quote-text {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
  padding: 0 0 16px 0;
  margin: 0;
}

.quote-block .quote-speaker {
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  padding: 0;
  margin: 0;
}

.sign-up-block {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 32px 128px;
  margin: 32px 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-up-block h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0 0 4px 0;
}

.sign-up-block p {
  margin: 0;
  padding: 0;
}

.sign-up-block button {
  border-style: solid;
  border-color: #f9faf8;
}

.footer {
  background-color: #1f2937;
  color: #f9faf8;
  text-align: center;
  padding: 32px;
  justify-self: end;
}
